/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 9:01:20 PM
    Author     : yiren
*/

#navbar_container{
   position: absolute;
   top: 145px;
}
#components_container{
    position:relative;
    top:15px;
}
#slideshow{
    width: 800px;
}
#slide_img{
   margin-left: 23px; 
}
#slide_caption{
    text-align: center;
}
#previous_button{
    margin-left: 360px;
}
video{
    width: 800px;
}
#image1{
    width: 800px;
}
.container{
    margin-left: 70px;
    margin-right: 70px;   
}