/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 9:01:05 PM
    Author     : yiren
*/
#navbar_container{
    background-color: rgb(105, 90, 195);
    
}
image{
    background-color: rgb(255, 255, 255);
}
div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
#banner_container{
  border-bottom:2px solid #ccc;
  padding:5px;
  background-color: rgb(255, 255, 255);
    
}
#components{
    background-color: rgb(255, 255, 255)

}
body{
    background-color: rgb(105, 90, 195)
}
.component{
    font-family: 'Montserrat', sans-serif;
}
#slideshow{
    border: 2px solid #ccc;
}
#slideshow_title{
    font-size:48pt;
}
.open_nav{
    font-size: 20pt;
}