/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2015, 11:35:51 PM
    Author     : yiren
*/
.color1{
    background-color: rgb(105, 90, 195);
}
.color2{
    background-color: rgb(255, 117, 26);
}
.color3{
    background-color: rgb(171, 0, 1);
}
.color4{
    background-color: rgb(95, 95, 95);
}
.color5{
    background-color: rgb(118, 143, 165);
}


image{
    background-color: rgb(255, 255, 255);
    
}
div{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    
}

#components_container{
    overflow:hidden;
}   

.image_component{
    
}
#banner_container{
  border-bottom:2px solid #ccc;
  padding:5px;
  background-color: rgb(255, 255, 255);
    
}
#components{
    background-color: rgb(255, 255, 255)
    
}

.open_nav{
    font-size: 20pt;
}


