/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2015, 8:18:15 PM
    Author     : yiren
*/
#navbar_container{
   position: absolute;
   top: 160px;
   right:40px;
   width: 30px;
}

#components_container{
    position: relative;
    right:0px;
    width: 890px;
}
#banner_image{
    width:1030px;
    height:250px;
}
#slideshow{
    width: 800px;
}
#slide_img{
   margin-left: 23px; 
}
#slide_caption{
    text-align: center;
}
#previous_button{
    margin-left: 360px;
}
video{
    width: 800px;
}
#image1{
    width: 800px;
}
.container{
    margin-left: 70px;
    margin-right: 70px;   
}
.open_nav{
    font-size: 20pt;
}
#footer{
   text-align: right
}
.caption{
   

}
iframe{
    width:1000px;
    height:700px;
}