/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla
 */

// FIRST, ALL OUR TEXTUAL COMPONENTS WILL USE THE SAME FONT FAMILY
.lang_prompt, .lang_ok_button,
.title_prompt, .title_text_field,
.caption_prompt, .caption_text_field {

    -fx-font-family:sans-serif;    
    -fx-font-weight: bold;
}

// LANGUAGE SELECTION CONTROLS
.lang_prompt {
  
}

.lang_combo_box {
  
  
}

.lang_ok_button {
    -fx-alignment:CENTER_RIGHT;
}
.lang_cancel_button{
    
}
.lang_dialog_pane {
    -fx-background-color: rgb(185,202,240);
    -fx-hgap:25;
    -fx-vgap:15;
    -fx-padding: 30;
}

// TOOLBAR CONTROLS
.pageEditor_horizontal_toolbar_pane, .pageEditor_vertical_toolbar_pane{
   -fx-background-color: rgb(160,180,220);    
   -fx-padding:5; 
}
.pageEditor_horizontal_toolbar_pane{
   -fx-hgap:5; 
}
.pageEditor_vertical_toolbar_pane{
    -fx-orientation: vertical;
    -fx-vgap:5;
    -fx-hgap:5;
}
.horizontal_toolbar_pane, .vertical_toolbar_pane {
    -fx-background-color: rgb(154,172,211);    
    -fx-padding:5;
    
}

.horizontal_toolbar_pane {
    -fx-hgap:5;
}

.vertical_toolbar_pane {
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-vgap:5;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(185,202,240);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(185,202,240);
    //-fx-padding-left: 10px;
    //-fx-padding-right: 20px;
}

// WORKSPACE AND IT'S CONTAINERS

.workspace {
    -fx-background-color: rgb(185,202,240);
}

.slides_editor_pane {
    -fx-background-color: rgb(185,202,240);
    -fx-padding: 30;    
    -fx-width:50px;
}

.slide_edit_view, .selected_slide_edit_view {
    -fx-border-width: 3;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.slide_edit_view {
    -fx-background-color: rgb(185,202,240);
    -fx-border-color: whitesmoke;
}

.selected_slide_edit_view {
    -fx-background-color: rgb(185,202,240);
    -fx-border-color: rgb(81,102,159);
}

// SLIDE EDIT CONTROLS
.title_pane {   
    -fx-hgap:10;
    -fx-vgap:10;
    -fx-padding: 0 0 20 0;
}

.title_prompt {
    -fx-font: 18pt bold;
    -fx-font-family:sans-serif;    
    -fx-font-weight: bold;
}

.title_text_field {
    -fx-font: 16pt normal;
    -fx-background-color: white;
    -fx-min-width:300px;
}

.caption_prompt {
    -fx-font-size: 16pt;
    -fx-padding: 5 5 5 20;
    
}

.caption_text_field {
    -fx-font-size: 14pt;
    -fx-background-color: white; 
    -fx-min-width:600px;
    -fx-padding: 5 5 5 20;
}
.page_color_1{
    -fx-background-color: rgb(105, 90, 195); 
}
.page_color_2{
    -fx-background-color: rgb(255, 117, 26); 
}
.page_color_3{
    -fx-background-color: rgb(171, 0, 1); 
}
.page_color_4{
    -fx-background-color: rgb(95, 95, 95); 
}
.page_color_5{
    -fx-background-color: rgb(118, 143, 165); 
}
.button_selected{
    -fx-background-color: rgb(150,150,150);
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}
.component_edit_view, .selected_component_edit_view {
    -fx-border-width: 3;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}
.component_edit_view {
    
    -fx-border-color:gainsboro;
}

.selected_component_edit_view {
   
    -fx-border-color: rgb(81,102,159);
}